html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Reset End */

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

/* ALL STYLE */

.header {
  border-right: 2px solid #1bb147;
  border-bottom: 2px solid #1bb147;
  border-left: 2px solid #1bb147;
  border-image: linear-gradient(
      to right,
      rgba(27, 177, 71, 1),
      rgba(1, 142, 213, 1)
    )
    1;
  background: #fff;
}

.header__text {
  color: #fff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-image: url(./images/top-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;

  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 21px;
}

@media (min-width: 420px) and (max-width: 767px) {
  .header__text,
  .header {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1399px) {
  .header__text,
  .header {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .header__text,
  .header {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav {
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #181818;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.nav__link:hover {
  color: gray;
}

/* HERO */

.hero {
  padding-top: 70px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero__box {
  width: 510px;
  height: 640px;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main-image {
  background-image: url("./images/layer-1.jpg");
  background-repeat: no-repeat;
  z-index: 1;
}

.overlay-image {
  background-size: cover;
  opacity: 1;
}

.overlay-image1 {
  background-image: url("./images/layer-2.png");
  background-repeat: no-repeat;
  transform: rotate(8deg);
  left: -12px;
}

.overlay-image2 {
  background-image: url("./images/layer-3.png");
  background-repeat: no-repeat;
  transform: rotate(-8deg);
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Form */

.form {
  z-index: 10;
}

.form__title {
  position: absolute;
  top: 48px;
  left: 75px;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 360px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-color: rgba(27, 177, 71, 1);
}

.form__group {
  width: 510px;
  padding-right: 33px;
  padding-left: 33px;
  margin-top: 79px;
}

.form__label {
  position: relative;
  display: block;
}

.form__label:not(:last-child) {
  margin-bottom: 24px;
}

.form__input {
  width: 100%;
  height: 60px;
  padding-left: 16px;
  font-size: 24px;
  position: relative;
  border: none;
}

.form__input::placeholder {
  color: #878787;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.form__span {
  position: absolute;
  left: 0;
  text-align: center;
  width: 84px;
  height: 60px;
  background-color: #d9d9d9;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__input:not(:last-child) {
  padding-left: 86px;
}

.form__button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  background-color: #fa0606;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
}

.form__button:hover {
  background-color: #f04c4c;
}

/* Near */

.near-block__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 30px;
}

.near-block__list {
  display: flex;
  justify-content: space-around;
}

.near-block__textarea {
  width: 695px;
  height: 397px;
  background-color: #d9d9d9;
}

/* Project */

.project {
  padding-top: 80px;
}

.project__box {
  display: flex;
  align-items: flex-end;
}

.project__innerbox {
  position: relative;
}

.project__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 36px;
  background-image: linear-gradient(
    to right,
    rgba(27, 177, 71, 1),
    rgba(1, 142, 213, 1)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.project__list {
  width: 778px;
  height: 395px;
  margin-bottom: 48px;
}

.project__text {
  color: #181818;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
  margin-bottom: 18px;
}

.suptitle-box {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: -100px;
  padding-left: 100px;
  max-width: 880px;
  background-image: linear-gradient(
    to right,
    rgba(27, 177, 71, 1),
    rgba(1, 142, 213, 1)
  );
}

.project__img {
  z-index: 1;
}

.suptitle-box__title {
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.suptitle-box__text {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* About */

.about {
  padding-top: 80px;
  padding-bottom: 48px;
  background-image: url(./images/factory.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__box {
  height: 100%;
  padding-left: 60px;
  margin-bottom: 60px;
}

.about__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: white;
  margin-bottom: 36px;
  background-image: linear-gradient(to right, rgb(18 177 65), rgb(5 91 255));
  -webkit-background-clip: text;
  color: transparent;
}

.about__text {
  color: #fff;
  font-family: Verdana;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.63px;
  margin-bottom: 12px;
  max-width: 778px;
}

.about__btn {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 16px 40px;
  background-color: #fa0606;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}

.about__btn:hover {
  background-color: #f04c4c;
}

.about__subtitle {
  max-width: 1392px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Swiper */

.swiper-section {
  padding-top: 32px;
  padding-bottom: 32px;
}

.swiper-title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgb(192 255 0), rgb(5 91 255));
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 26px;
}

.swiper__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.swiper__name {
  color: #181818;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.swiper__age {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.72px;
  text-align: center;
  margin-bottom: 24px;
}

.swiper__text {
  color: #181818;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
}

/* Amount */

.amount {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: blue;
}

.amount__title {
  color: #181818;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  margin-bottom: 20px;
}

.amount__text {
  color: #181818;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.66px;
  margin-bottom: 40px;
}

.amount__wrap {
  position: relative;
  margin-top: 100px;
}

.amount__box {
  padding-left: 75px;
  padding-top: 50px;
  margin-bottom: 45px;
}

.amount__subtext {
  margin-bottom: 20px;
}

.amount__subtext,
.amount__suptext {
  color: white;
}

.amount__button {
  padding: 18px 100px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: blue;
  border: none;
  margin-left: 500px;
  margin-right: auto;
}

.amount__button:hover {
  background-color: lightskyblue;
}

/* Slider */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider {
  width: 1200px;
  height: 100px;
}

.slider .show-value {
  position: relative;
  width: 100%;
  height: 50px;
}

.slider .show-value span {
  position: absolute;
  width: 45px;
  height: 30px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  left: 50%;
  border-radius: 2px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 300ms ease-in-out;
}

.slider .show-value span.active {
  transform: translateX(-50%) scale(1);
  top: -35px;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  width: 1200px;
  height: 2px;
  outline: none;
  border: none;
  background-color: white;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider .range {
  margin-top: 15px;
  position: relative;
}

.slider .range div {
  position: absolute;
  color: white;
}

.slider .range div:nth-child(2) {
  right: 0px;
}

/* Benefit */

.benefit {
  background-image: url(./images/layer-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  gap: 285px;
}

.benefit__box {
  width: 490px;
}

.benefit__title {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.benefit__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.benefit__text {
  color: white;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.9;
}

.benefit__img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
}

.benefit__img-box1 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: white;
  background-image: url(./images/stats.png);
  background-position: center;
  background-size: unset;
  background-repeat: no-repeat;
}

.benefit__img-box2 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: white;
  background-image: url(./images/hand.png);
  background-position: center;
  background-size: unset;
  background-repeat: no-repeat;
}

.benefit__img-box3 {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: white;
  background-image: url(./images/calculation.png);
  background-position: center;
  background-size: unset;
  background-repeat: no-repeat;
}

/* Next */

.next {
  width: 500px;
  height: 270px;
  background-color: white;
  border-radius: 8px;
}

.next__title {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 22px;
}

.next__list {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.next__text {
  width: 390px;
  font-size: 17px;
  font-weight: 400;
}

/* Repeat */

.repeat {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer__item {
  margin-bottom: 8px;
}

.footer__addres {
  width: 400px;
}

.footer__link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
}

.footer__link:hover {
  color: #018ed5;
}

.social {
  margin-right: 380px;
}

.social__list {
  display: flex;
  gap: 3px;
}

.footer__inner {
  display: flex;
  border-top: 3px solid grey;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer__wrapper {
  margin-right: 230px;
}

.contact__list {
  display: flex;
  gap: 20px;
}

.contact__link {
  color: #018ed5;
}

.contact__link:hover {
  color: #437c99;
}
